.quill{
	position:relative;
}
.ql-upload-prog{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(80, 80, 80, .4);
	z-index:999;
}
.ql-upload-prog-txtbox{
	top: 50%;
	margin-top: -1em;
	text-align:center;
}
.ql-upload-prog-txtbox:before{
	content:'已上传：' !important;
}
.ql-upload-prog-txtbox a:after{
	content:'取消' !important;
}
